<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cartify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Verbose_Log" value="true" />
    <add key="STORE_URL" value="https://www.livrariajp.com/" />
    <add key="DB_PREFIX" value="oc_" />
    <add key="IMAGE_PATH" value="" />
    <add key="OC_VERSION" value="3.0" />
    <add key="LANGUAGE_ID" value="1" />
    <add key="FTP_HOST" value="127.0.0.1" />
    <add key="FTP_USER" value="ramesh" />
    <add key="FTP_PASSWORD" value="" />
    <add key="FTP_PATH" value="/image/catalog" />
    <add key="FTP_PARAM" value="" />
    <add key="FTP_DELETELOCAL" value="0" />
    <add key="CommandTimeout" value="2147480" />
    <add key="MaxDownloadTries" value="5" />
    <add key="MaxProductPerCategory" value="0" />
	<add key="Simulate" value="0" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0" />
  </appSettings>
  <userSettings>
	  <Cartify.Properties.Settings>
      <setting name="LastProfile" serializeAs="String">
        <value>0</value>
      </setting>
    </Cartify.Properties.Settings>
  </userSettings>
</configuration>
