<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="connectionString1" connectionString="SERVER=localhost;database=oc2011;UID=root;PASSWORD=;"/>
    <add name="connectionString" connectionString="User Id=rugbar5_hadijoum;Host=rugstown.com;Database=rugbar5_rugstown2;Character Set=utf8;password=kaleen101303;Connection Timeout=30"/> 
  </connectionStrings>
</configuration>